@import "tailwindcss";
@plugin "daisyui";


body {
  /* height: 100vh; */
 display: flex;
 /* background-color: white; */
  justify-content: center;
  align-items: center;
  gap: 10rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* /* background-color: red; */
  filter: invert(60%); 
}

